apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -c
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: otelcollector
  name: otelcollector
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: otelcollector
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -c
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: otelcollector
    spec:
      initContainers:
        - name: wait-for
          image: ghcr.io/patrickdappollonio/wait-for:latest
          env:
          - name: CLICKHOUSE_HOST
            value: "clickhouse:9000"
          command:
            - /wait-for
          args:
            - --host="$(CLICKHOUSE_HOST)"
            - -v
            - -e10s
            - -t120s
      containers:
        - args:
            - --config=/etc/otel-collector-config.yml
            - --set=service.telemetry.logs.level=DEBUG
          image: harbor.bulut.ai/liman/exporter:latest
          name: otel
          ports:
            - containerPort: 4317
              protocol: TCP
            - containerPort: 4318
              protocol: TCP
            - containerPort: 1888
              protocol: TCP
            - containerPort: 13133
              protocol: TCP
            - containerPort: 55679
              protocol: TCP
            - containerPort: 24224
              protocol: TCP
            - containerPort: 24224
              protocol: UDP
          volumeMounts:
            - mountPath: /etc/otel-collector-config.yml
              name: otelcollector-cm0
              subPath: otel-collector-config.yml
      restartPolicy: Always
      volumes:
        - configMap:
            items:
              - key: otel-collector-config.yml
                path: otel-collector-config.yml
            name: otelcollector-cm0
          name: otelcollector-cm0
